<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.avatar_url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Mutual Friends:</strong>
  <% current_user.mutual_friends(@user).each do |friend| %>
    <%= link_to friend.name, user_path(friend) %>
  <% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
